body{
font-family:Arial;
background:#f2f2f2;
display:flex;
justify-content:center;
margin-top:100px;
}

.calculator{
background:white;
padding:20px;
border-radius:10px;
}

button{
width:60px;
height:40px;
margin:5px;
}

input{
width:260px;
height:40px;
margin-bottom:10px;
font-size:20px;
}
